/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  font-family: 'Raleway', sans-serif;
}

nav ul a,
nav .brand-logo {
  color: #fafafa;
}

nav .brand-logo {
  font-family: 'Fjalla One', sans-serif;
}
nav .nav-wrapper {
        padding: 0 50px;
}

p {
  line-height: 2rem;
}

.button-collapse{
  color: blue;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.section-intro {
  height:100%;
  width:100%;
}

  .header {

  }

  .header-subtitle {
  font-size: 2em;
  color
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
nav-wrapper {
        padding: 0 10px;
}

.col-servizi { 
margin-top: 60px;
 }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
